SUPABASE_DB_URL=postgresql://postgres:[password]@[host]:6543/postgres
JWT_SECRET=your-secure-secret-key-super-long-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
SUPABASE_DB_PASSWORD="yourpassword"
SUPABASE_REF="yourref"